# Categorical Analysis

## Dataset: Exam Score Prediction

## Dataset Link : https://www.kaggle.com/datasets/kundanbedmutha/exam-score-prediction-dataset
## Total Number of columns: 13

## Details about the dataset

### This dataset provides an extensive and realistic representation of various factors that contribute to student exam performance

- 'student_id' - individual id for every student 
- 'age'  : age of the student
- 'gender' : sex of each student
- 'course'  : course they are enrolled in 
- 'study_hours'  : number of hours studying per day
- 'class_attendance'  : attendance Percentage
- 'internet_access'  :  boolean value of having internet access or not
- 'sleep_hours'  : daily sleeping duration
- 'sleep_quality'  : Quality of sleep (Poor/Average/Good)
- 'study_method'  :    Primary study technique
- 'facility_rating'  : Academic environment indicators such as facility rating
- 'exam_difficulty'  : exam difficulty in categorical(easy/moderate/hard)
- 'exam_score' : Final Score value (from 1 to 100)

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("Data/Exam_Score_Prediction.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   student_id        20000 non-null  int64
 1   age               20000 non-null  int64
 2   gender            20000 non-null  object
 3   course            20000 non-null  object
 4   study_hours       20000 non-null  float64
 5   class_attendance  20000 non-null  float64
 6   internet_access   20000 non-null  object
 7   sleep_hours       20000 non-null  float64
 8   sleep_quality     20000 non-null  object
 9   study_method      20000 non-null  object
 10  facility_rating   20000 non-null  object
 11  exam_difficulty   20000 non-null  object
 12  exam_score        20000 non-null  float64
dtypes: float64(4), int64(2), object(7)
memory usage: 2.0+ MB

### No missing values in the dataset. So we don't need to handle it for this data

In [4]:
df.head()

,student_id,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score
0,1,17,male,diploma,2.78,92.9,yes,7.4,poor,coaching,low,hard,58.9
1,2,23,other,bca,3.37,64.8,yes,4.6,average,online videos,medium,moderate,54.8
2,3,22,male,b.sc,7.88,76.8,yes,8.5,poor,coaching,high,moderate,90.3
3,4,20,other,diploma,0.67,48.4,yes,5.8,average,online videos,low,moderate,29.7
4,5,20,female,diploma,0.89,71.6,yes,9.8,poor,coaching,low,moderate,43.7

In [6]:
df = df.set_index('student_id')

In [12]:
df.columns

Index(['age', 'gender', 'course', 'study_hours', 'class_attendance',
       'internet_access', 'sleep_hours', 'sleep_quality', 'study_method',
       'facility_rating', 'exam_difficulty', 'exam_score'],
      dtype='object')

In [18]:
df['study_method'].value_counts()

study_method
self-study       4079
online videos    4069
coaching         4036
group study      3922
mixed            3894
Name: count, dtype: int64

In [19]:
df['internet_access'].value_counts()

internet_access
yes    16988
no      3012
Name: count, dtype: int64

In [8]:
df['sleep_quality'].value_counts()

sleep_quality
average    6694
poor       6687
good       6619
Name: count, dtype: int64

In [10]:
df['gender'].value_counts()

gender
other     6726
male      6695
female    6579
Name: count, dtype: int64

In [11]:
df['course'].value_counts()

course
bca        2902
ba         2896
b.sc       2878
b.com      2864
bba        2836
diploma    2826
b.tech     2798
Name: count, dtype: int64

In [20]:
df['facility_rating'].value_counts()

facility_rating
medium    6760
low       6638
high      6602
Name: count, dtype: int64

## Encoding the columns which are with ordinal values

In [ ]:
features=['gender','internet_l