## Time Series Data Analysis

### DataSet : Plant_1 Generation Data
### DataSet Link: https://www.kaggle.com/code/pythonafroz/solar-power-generation-forecast

## Details about the dataset
### 
## Number of columns: 7


- 'DATE_TIME'
- 'PLANT_ID',
- 'SOURCE_KEY',
- 'DC_POWER',
- 'AC_POWER',
- 'DAILY_YIELD',
- 'TOTAL_YIELD'

In [1]:
import numpy as np
import pandas as pd
 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df= pd.read_csv("Data/Plant_1_Generation_Data.csv")

In [20]:
df.columns

Index(['DATE_TIME', 'PLANT_ID', 'SOURCE_KEY', 'DC_POWER', 'AC_POWER',
       'DAILY_YIELD', 'TOTAL_YIELD'],
      dtype='object')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68778 entries, 0 to 68777
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE_TIME    68778 non-null  object
 1   PLANT_ID     68778 non-null  int64
 2   SOURCE_KEY   68778 non-null  object
 3   DC_POWER     68778 non-null  float64
 4   AC_POWER     68778 non-null  float64
 5   DAILY_YIELD  68778 non-null  float64
 6   TOTAL_YIELD  68778 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 3.7+ MB

In [5]:
df['DATE_TIME'].head()

0    15-05-2020 00:00
1    15-05-2020 00:00
2    15-05-2020 00:00
3    15-05-2020 00:00
4    15-05-2020 00:00
Name: DATE_TIME, dtype: object

In [7]:
df['DATE_TIME'] = pd.to_datetime(df['DATE_TIME'])

In [9]:
df=df.set_index(df['DATE_TIME'])

In [18]:
df.tail(5)

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
DATE_TIME,,,,,,,
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,uHbuxQJl8lW7ozc,0.0,0.0,5967.000,7287002.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,wCURE6d3bPkepu2,0.0,0.0,5147.625,7028601.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,z9Y9gH1T5YWrNuG,0.0,0.0,5819.000,7251204.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,zBIq5rxdHJRwDNY,0.0,0.0,5817.000,6583369.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,zVJPv84UY57bAof,0.0,0.0,5910.000,7363272.0

In [19]:
df.loc['2020-06-17 23:45:00']

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
DATE_TIME,,,,,,,
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,1BY6WEcLGh8j5v7,0.0,0.0,5521.000000,6485319.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,1IF53ai7Xc0U56Y,0.0,0.0,6034.000000,6433566.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,3PZuoBAID5Wc2HD,0.0,0.0,6052.000000,7237425.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,7JYdWkrLSPkdwr4,0.0,0.0,5856.000000,7846821.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,McdE0feGgRqW7Ca,0.0,0.0,5992.000000,7408587.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,VHMLBKoKgIrUVDU,0.0,0.0,6007.000000,7456208.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,WRmjgnKYAwPKWDb,0.0,0.0,5953.000000,7273532.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,YxYtjZvoooNbGkE,0.0,0.0,5886.000000,7425442.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,ZnxXDlPa8U1GXgE,0.0,0.0,5929.000000,6770737.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,ZoEaEvLYb1n2sOq,0.0,0.0,5871.000000,7341753.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,adLQvlD726eNBSB,0.0,0.0,5237.142857,6524508.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,bvBOhCH3iADSZry,0.0,0.0,5460.000000,6539009.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,iCRJl6heRkivqQ3,0.0,0.0,5957.000000,7426263.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,ih0vzX44oOqAx2f,0.0,0.0,5758.000000,6426129.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,pkci93gMrogZuBj,0.0,0.0,5952.000000,7415430.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,rGa61gmuvPhdLxV,0.0,0.0,5950.000000,7356897.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,sjndEbLyjtCKgGv,0.0,0.0,5887.000000,7261681.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,uHbuxQJl8lW7ozc,0.0,0.0,5967.000000,7287002.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,wCURE6d3bPkepu2,0.0,0.0,5147.625000,7028601.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,z9Y9gH1T5YWrNuG,0.0,0.0,5819.000000,7251204.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,zBIq5rxdHJRwDNY,0.0,0.0,5817.000000,6583369.0
2020-06-17 23:45:00,2020-06-17 23:45:00,4135001,zVJPv84UY57bAof,0.0,0.0,5910.000000,7363272.0